header{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: 24px;
    border-bottom: black solid 1px;
}

nav{
    display: flex;
    gap: 16px;

}


.navbarItem:link {
    color: #000000;
    text-decoration: none;
    padding-top: 16px;
    padding-left: 16px;
    padding-right: 16px;
    margin-bottom: 8px;
}
.navbarItem:visited {
    color: #000000;

}
.navbarItem:hover {
    color: lightgray;
}
.navbarItem:active {
    color: #000000;
}
